
@font-face {
  font-family: matrix_book;
  src: url(./Fonts/matrix_book.ttf);
}


*{
 font-family: matrix_book;
}

body{
  background: linear-gradient(28deg, #8389dc, transparent);
}

.title{
  font-size: 2em;
}

.subtitle{
  font-size: 1.2em;
}

.back_btn{
  display: inline-block;
  margin-right: 0.5em;
  font-size: 1em;
  cursor: pointer;
  background: rgba(0,0,0,0.1);
  width: 1.1em;
  height: 1.1em;
  padding-right: 0.2em;
  text-align: center;
  border-radius: 30%;
  line-height: 1em;  
}
.back_btn:hover{
    background: rgba(0,0,0,0.2);
}
.back_btn:hover{
  background: rgba(0,0,0,0.4);
}

.description_label{
  border-top: 1px solid rgba(0,0,0,0.3);
  font-size: 1.1em;
  max-width: 30em;
}

.filtered_img{
    width: 8em;
}
.card_description{
  max-height: 12em;
  white-space: pre-wrap;
  overflow-y: auto;
}
.card_slot{
  width: 100%;
  border-bottom: 2px solid rgba(0,0,0,0.4);
  cursor: pointer;
}
.card_slot:hover{
  background: rgba(0,0,0,0.3);
}
.card_slot:active{
  background: rgba(0,0,0,0.4);
}

.wide_button{
  min-width: 30em;
}

.small_hint{
  font-size: 1em;
  opacity: 0.8;
  padding: 0 1em;
  background: rgba(0,0,0,0.1);
  max-width: 23em;
}

.filter_box{
  max-height: 20em;
  overflow-x: auto;
  border: 1px solid rgba(0,0,0,0.3);
  max-width: 30em;
  min-height: 15em;
  background: rgba(0,0,0,0.2);
}


.text_entry{
  min-width: 30em;
  padding: 0.5em;
}

.infobox{
  border: 1px solid rgba(0,0,0,0.3);
  padding: 0.5em 1em;
  background: rgba(0,0,0,0.1);
  max-width: 30em;
}

.card_in_recipe{
  width: 4em;
  display: inline-block;
  border: 4px solid transparent;
  cursor: pointer;
}
.card_in_recipe:hover{
  border: 4px solid rgba(0,0,0,0.6);
}
.card_in_recipe:active{
  border: 4px solid rgba(255,0,0,0.8);
}
